{% extends "template.html" %}
{% block nav %} 

Paciente

{% endblock %}

{% block conteudo %}

{% for p in paciente %}

<form  method="POST" action="/alterar">
    <input type="hidden" class="form-control" name=id value={{p[0]}} >
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome"  name="nome" placeholder="Nome" value={{p[1]}} >
    </div>
    
    <div class="form-group">
        <label for="fone">Celular</label>
        <input type="text" class="form-control" id="fone" name="fone" placeholder="Celular" value={{p[3]}} >
    </div>
    
    <div class="form-group">
        <label for="email1">E-mail</label>
        <input type="email" class="form-control" id="email1" name="email1" aria-describedby="emailHelp" placeholder="Seu email" value={{p[2]}} >
    </div>
    
    <div class="form-group">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" value={{p[4]}} >
    </div>
    
    <div class="form-group">
        <label for="endereco">Endereco</label>
        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereco" value={{p[5]}} >
    </div>
    <div class="form-group">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero" value={{p[7]}} >
    </div>
    <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro" value={{p[6]}} >
    </div>
    <div class="form-group">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento" value={{p[8]}} >
    </div>
    <div class="form-group">
        <label for="dataNascimento">dataNascimento</label>
        <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento"  value={{p[9]}}>
    </div>
    <div class="form-group">
        <label for="genero">Gênero</label>
        <input type="text" class="form-control" id="genero" name="genero" placeholder="genero" value={{p[10]}} >
    </div>
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="cpf" value={{p[11]}} >
    </div>
    <button type="submit" class="btn btn-primary">Alterar</button>
    
</form>
  {% endfor %}


{% endblock %}

{% block conteudoLateral %}

    
{% endblock %}

