{% extends "template.html" %}

{% block nav %} 

<a class="navbar-brand" href="/novo">Novo Paciente</a>

{% endblock %}

{% block conteudo %}
<form  method="POST" action="/inserir">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
    </div>
    
    <div class="form-group">
        <label for="fone">Celular</label>
        <input type="text" class="form-control" id="fone" name="fone" placeholder="Celular">
    </div>
    
    <div class="form-group">
        <label for="email1">E-mail</label>
        <input type="email" class="form-control" id="email1" name="email1"  aria-describedby="emailHelp" placeholder="Seu email">
    </div>
    
    <div class="form-group">
        <label for="cep">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP">
    </div>
    
    <div class="form-group">
        <label for="endereco">Endereco</label>
        <input type="text" class="form-control" id="endereco"  name="endereco" placeholder="Endereco">
    </div>
    <div class="form-group">
        <label for="numero">Numero</label>
        <input type="text" class="form-control" id="numero" name="numero" placeholder="Numero">
    </div>
    <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro">
    </div>
    <div class="form-group">
        <label for="complemento">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento">
    </div>
    <div class="form-group">
        <label for="dataNascimento">dataNascimento</label>
        <input type="text" class="form-control" id="dataNascimento" name="dataNascimento" placeholder="Data de Nascimento">
    </div>
    <div class="form-group">
        <label for="genero">Gênero</label>
        <input type="text" class="form-control" id="genero" name="genero" placeholder="genero">
    </div>
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" placeholder="cpf">
    </div>

    <button type="submit" class="btn btn-primary">Gravar</button>
  </form>



{% endblock %}

{% block conteudoLateral %}

    
{% endblock %}

